.accordion-menu
    ul.accordion-menu__list
        li.accordion-menu__item
            .accordion-menu__trigger
                span.accordion-menu__trigger-text.title Для мясоедов
            .accordion-menu__description
                p.accordion-menu__description-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.
        li.accordion-menu__item
            .accordion-menu__trigger
                span.accordion-menu__trigger-text.title Вегетарианское
            .accordion-menu__description
                p.accordion-menu__description-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.
        li.accordion-menu__item
            .accordion-menu__trigger
                span.accordion-menu__trigger-text.title Диетическое
            .accordion-menu__description
                p.accordion-menu__description-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Deleniti, numquam.
