.accordion-team
    ul.accordion-team__list
        li.accordion-team__item.accordion-team__item--active
            .accordion-team__name Ричард Джеймс
                .accordion-team__block
                    .accordion-team__avatar
                        +image("content/team-user.png", "accordion-team__avatar-pic", "Фотография сотрудника", "")
                    .accordion-team__desc
                        .accordion-team__position Оператор
                        .accordion-team__text С радостью поможет подобрать идеальный бургер и оформить заказ.
        li.accordion-team__item
            .accordion-team__name Ричард Джеймс
                .accordion-team__block
                    .accordion-team__avatar
                        +image("content/team-user.png", "accordion-team__avatar-pic", "Фотография сотрудника", "")
                    .accordion-team__desc
                        .accordion-team__position Оператор
                        .accordion-team__text С радостью поможет подобрать идеальный бургер и оформить заказ.
        li.accordion-team__item
            .accordion-team__name Ричард Джеймс
                .accordion-team__block
                    .accordion-team__avatar
                        +image("content/team-user.png", "accordion-team__avatar-pic", "Фотография сотрудника", "")
                    .accordion-team__desc
                        .accordion-team__position Оператор
                        .accordion-team__text С радостью поможет подобрать идеальный бургер и оформить заказ.
        li.accordion-team__item
            .accordion-team__name Ричард Джеймс
                .accordion-team__block
                    .accordion-team__avatar
                        +image("content/team-user.png", "accordion-team__avatar-pic", "Фотография сотрудника", "")
                    .accordion-team__desc
                        .accordion-team__position Оператор
                        .accordion-team__text С радостью поможет подобрать идеальный бургер и оформить заказ.
