.composition
    svg.composition__btn
        use(xlink:href='../../../assets/img/icons/sprite.svg#burger')
    .composition__title состав
    .composition__drop-table
        ul.composition__list
            li.composition__elem
                .composition__icon
                    svg.composition__icon-pic
                        use(xlink:href='../../../assets/img/icons/sprite.svg#beef')
                .composition__text Говядина
                .composition__weght 300г
            li.composition__elem
                .composition__icon
                    svg.composition__icon-pic
                        use(xlink:href='../../../assets/img/icons/sprite.svg#buns')
                .composition__text Булочки
                .composition__weght 100г
            li.composition__elem
                .composition__icon
                    svg.composition__icon-pic
                        use(xlink:href='../../../assets/img/icons/sprite.svg#salad')
                .composition__text Зелень
                .composition__weght 70г
            li.composition__elem
                .composition__icon
                    svg.composition__icon-pic
                        use(xlink:href='../../../assets/img/icons/sprite.svg#sauce')
                .composition__text Соус
                .composition__weght 150г
            li.composition__elem
                .composition__icon
                    svg.composition__icon-pic
                        use(xlink:href='../../../assets/img/icons/sprite.svg#cucumber')
                .composition__text Овощи
                .composition__weght 200г
            li.composition__elem
                .composition__icon
                    svg.composition__icon-pic
                        use(xlink:href='../../../assets/img/icons/sprite.svg#cheese')
                .composition__text Сыр
                .composition__weght 80г