section.features(id="features")
    .container
        .features__content
            h2.title.title--centered.title--color--black Мы лучшие
            ul.features__list
                li.features__item
                    .features__icon
                        svg.features__icon-pic
                            use(xlink:href='../../../assets/img/icons/sprite.svg#meat')
                    .features__desc
                        h4.features__title 100% свежее мясо
                        p.features__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
                li.features__item
                    .features__icon
                        svg.features__icon-pic
                            use(xlink:href='../../../assets/img/icons/sprite.svg#hand')
                    .features__desc
                        h4.features__title Ручная  сборка
                        p.features__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
                li.features__item
                    .features__icon
                        svg.features__icon-pic
                            use(xlink:href='../../../assets/img/icons/sprite.svg#natural')
                    .features__desc
                        h4.features__title Натуральные  ингредиенты
                        p.features__text Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.





