footer.footer
    .container.footer__container
        .footer__col
            .footer__contacts
                adress.footer__adress Санкт-Петербург, ул.Бабушкина, д.12/1, 15
                a.footer__phone(href='tel: +7 (812) 377-13-77')
                    svg.phone
                        use(xlink:href='../../../assets/img/icons/sprite.svg#phone')
                    |                                     +7 (812) 377-13-77
        .footer__col-social
            include /social