.hamburger-nav__wrapper
    +nav("hamburger-nav", ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"], ["header", "about", "skill", "work", "reviews", "contact"])
    .hamburger__close
        .hamburger__close-cross
