header.header.header__container
    .header__logo
        svg.header__logo
            use(xlink:href='../../../assets/img/icons/sprite.svg#logo')
    .header__nav
        include ./nav
    .header__wrapper
        a.header__button.nav__link(href="#order")
            button.main-button(type="button") Заказать
        .header__hamburger
            include ./hamburger-btn

