section.section.reviews(id="reviews" data-anchor="reviews")
    .reviews__content
        ul.reviews__list
            li.reviews__item
                +image("reviews/persone-1.png", "reviews__pic", "Фотография клиента", "")
                .reviews__hover
                    .reviews__name Константин
                    p.reviews__text
                            | Отзыв 1 Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть...
                            | Никогда
                            | не
                            | думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким
                            | расплавленным.
                    button.main-button.main-button--color--black.main-button--reviews(type='button' id="openOverlay") Подробнее
            li.reviews__item
                +image("reviews/persone-2.png", "reviews__pic", "Фотография клиента", "")
                .reviews__hover
                    .reviews__name Константин1
                    p.reviews__text
                            | Отзыв 2 Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть...
                            | Никогда
                            | не
                            | думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким
                            | расплавленным.
                    button.main-button.main-button--color--black.main-button--reviews(type='button' id="openOverlay") Подробнее
            li.reviews__item
                +image("reviews/persone-3.png", "reviews__pic", "Фотография клиента", "")
                .reviews__hover
                    .reviews__name Константин2
                    p.reviews__text
                            | Отзыв 3 Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть...
                            | Никогда
                            | не
                            | думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким
                            | расплавленным.
                    button.main-button.main-button--color--black.main-button--reviews(type='button' id="openOverlay") Подробнее
            li.reviews__item
                +image("reviews/persone-4.png", "reviews__pic", "Фотография клиента", "")
                .reviews__hover
                    .reviews__name Константин3
                    p.reviews__text
                            | Отзыв 4 Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть...
                            | Никогда
                            | не
                            | думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким
                            | расплавленным.
                    button.main-button.main-button--color--black.main-button--reviews(type='button' id="openOverlay") Подробнее
            li.reviews__item
                +image("reviews/persone-5.png", "reviews__pic", "Фотография клиента", "")
                .reviews__hover
                    .reviews__name Константин4
                    p.reviews__text
                            | Отзыв 5 Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть...
                            | Никогда
                            | не
                            | думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким
                            | расплавленным.
                    button.main-button.main-button--color--black.main-button--reviews(type='button' id="openOverlay") Подробнее
            li.reviews__item
                +image("reviews/persone-6.png", "reviews__pic", "Фотография клиента", "")
                .reviews__hover
                    .reviews__name Константин5
                    p.reviews__text
                            | Отзыв 6 Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть...
                            | Никогда
                            | не
                            | думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким
                            | расплавленным.
                    button.main-button.main-button--color--black.main-button--reviews(type='button' id="openOverlay") Подробнее
            li.reviews__item
                +image("reviews/persone-7.png", "reviews__pic", "Фотография клиента", "")
                .reviews__hover
                    .reviews__name Константин6
                    p.reviews__text
                            | Отзыв 7 Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть...
                            | Никогда
                            | не
                            | думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким
                            | расплавленным.
                    button.main-button.main-button--color--black.main-button--reviews(type='button' id="openOverlay") Подробнее
            li.reviews__item
                +image("reviews/persone-8.png", "reviews__pic", "Фотография клиента", "")
                .reviews__hover
                    .reviews__name Константин7
                    p.reviews__text
                            | Отзыв 8 Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть...
                            | Никогда
                            | не
                            | думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким
                            | расплавленным.
                    button.main-button.main-button--color--black.main-button--reviews(type='button' id="openOverlay") Подробнее
    include ./overlay-reviews