section.single(id="single")
    .container
        .single__content
            .single__content-pic
                +image("content/burger-single.png", "single__content-img", "Картинга бургера", "")
            .single__content-desc
                h1.title.single__title Мы делаем
                    .single__subtitle натуральные бургеры
            //svg(class="scroll__btn")
                use(xlink:href="../../../assets/img/icons/sprite.svg#arrow-scroll.svg")


