.social
    ul.social__list
        li.social__item
            a(href='##')
                svg.vk
                    use(xlink:href='../../../assets/img/icons/sprite.svg#vk')
    ul.social__list
        li.social__item
            a(href='##')
                svg.fb
                    use(xlink:href='../../../assets/img/icons/sprite.svg#fb')
    ul.social__list
        li.social__item
            a(href='##')
                svg.inst
                    use(xlink:href='../../../assets/img/icons/sprite.svg#inst')
    ul.social__list
        li.social__item
            a(href='##')
                svg.twitter
                    use(xlink:href='../../../assets/img/icons/sprite.svg#twitter')