section.section.video(id="video" data-anchor="video")
    .video__content
        h2.title.title--color--black.title--centered как мы работаем
        +image("content/video.png", "video__pic", "Видео")
