section.video(id="video")
    .video__content
        h2.title.title--color--black.title--centered как мы работаем
        //iframe.video__player(width='660', height='370', src='https://www.youtube.com/embed/85CfHN0uJz0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
