// Font
$mainFont                : 'Ubuntu-Regular', Helvetica, Arial, sans-serif;
$mainFontLight           : 'Ubuntu-Light', Helvetica, Arial, sans-serif;
$mainFontMedium          : 'Ubuntu-Medium', Helvetica, Arial, sans-serif;
$mainFontBold            : 'Ubuntu-Bold', Helvetica, Arial, sans-serif;
$secondFont              : 'Gagalin-Regular', Helvetica, Arial, sans-serif;
$thirdFont               : 'Lifehack-Medium', Helvetica, Arial, sans-serif;

// Resolutions
$phone                   : 480px;
$tablet                  : 768px;
$laptop                  : 992px;
$desktop                 : 1200px;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 14px;
$titleFontSize           : 72px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;
$speed                   : 0.3s;

// Main color
$white                   : #ffffff;
$black                   : #2f3234;
$orange                  : #f9b43b;
$red                     : #e45028;

