.footer {
  position: absolute;
  background: $black;
  width: 100%;
  bottom: 0;
  min-height: 60px;

  &__container {
    display: flex;
    align-items: center;
    min-height: 60px;

    @include phone {
      flex-direction: column;
      align-items: center;
    }
  }

  &__col {
    width: 50%;

    @include phone {
      width: 100%;
    }
  }

  &__col-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;

    @include phone {
      width: 100%;
      justify-content: center;
    }
  }

  &__contacts {

    @include phone {
      text-align: center;
    }
  }

  &__adress {
    color: $white;
    font-family: $mainFont;
    font-size: rem(14);
  }

  &__phone {
    color: $red;
    font-family: $mainFont;
    font-weight: 700;
    display: block;
    margin-top: rem(10);
    text-decoration: none;

    @include phone {
      margin-bottom: 2%;
    }
  }
}


