.order {
  background-image: url("/assets/img/bg/bg-order.png");
  background-color: rgba(0, 0, 0, .9);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;

  @include tablet {
    padding: 10% 5% 5% 5%;
  }

  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
