.social {
  display: flex;
  color: #fff;
  align-items: center;

  &__list {
    margin-right: rem(20);

    &:last-child {
      margin-right: 0;
    }
  }
}

// icons social

.vk {
  &:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }

  width: rem(23);
  height: rem(13);
  opacity: 0.3;
}

.fb {

  &:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }

  opacity: 0.3;
  width: rem(20);
  height: rem(20);
}

.inst {
  &:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }

  width: rem(20);
  height: rem(20);
  opacity: 0.3;
}

.twitter {
  &:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }

  width: rem(20);
  height: rem(16);
  opacity: 0.3;
}

.phone {

  &:hover {
    opacity: 1;
    transition: opacity 0.2s;
  }

  width: rem(12);
  height: rem(11);
  margin-right: rem(8);
}