.video {
  background-image: url("/assets/img/bg/bg-video.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 6%;
  }

  &__player {
    margin-top: 40px;

    @include tablet {
      width: 100%;
    }

    @include phone {
      width: 300px;
    }
  }

  &__pic {
    margin-top: rem(50);
  }
}